@inject NavigationManager NavigationManager;

@if (Product != null)
{
    <tr>
        <td class="col-md-4">@Product.Name</td>
        <td class="col-md-3">@Product.Quantity</td>
        <td class="col-md-3">@Product.Price.ToString("c")</td>
        <td class="col-md-2">
            <button type="button" class="btn btn-light" @onclick="@(() => EditProduct(@Product.Id))">Edit</button>
            <button type="button" class="btn btn-danger" @onclick="@(() => DeleteProduct(@Product.Id))">Delete</button>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Product? Product { get; set; }

    private void EditProduct(int id)
    {
        NavigationManager.NavigateTo($"/editproduct/{id}");

    }

    private void DeleteProduct(int id)
    {
        NavigationManager.NavigateTo($"/editproduct/{id}");

    }
}
